<app-header></app-header>
<div class="form-wrapper exports">
    <msi-card>
        <msi-card-title class="msi-border-primary-10">
            <span>Export Incident</span>
        </msi-card-title>
        <msi-card-content>
            <form [formGroup]="exportForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label class="msi-label" for="description">
                        Title
                    </label>
                    <app-input-control [controlName]="'description'" [formResetting]="formResetting"
                        [LabelText]="'Description'">
                        <input class="msi-input" type="text" id="description" autocomplete="title"
                            formControlName="description"
                            [class.error]="!formResetting && formControls.description.invalid">
                    </app-input-control>
                </div>
                <div class="form-group" formGroupName="exportProfile">
                    <div>
                        <label class="msi-label" for="id">
                            Profile
                        </label>
                        <msi-select *ngIf="export" formControlName="id" id="id" (change)="outputSelectChanges()"
                            #msiProfile>
                            <msi-select-option *ngFor="let option of export.profiles;" [value]="option.id">
                                {{option.name}}
                            </msi-select-option>
                        </msi-select>
                    </div>
                </div>
                <div>
                    <button class="msi-btn form-button" type="submit">Submit</button>
                </div>
            </form>
        </msi-card-content>
    </msi-card>
</div>