.exports {
    .msi-card {
        max-width: 100%;
    }

    input, .msi-select, .msi-toggle {
        width: 20%;
    }

    .info_icon  {
        width: 16px;
        padding-left: 5px;
    }

    .label-tooltip {
        display: flex;
        align-items: center;
    }

    .export-toggle label.msi-toggle-label {
        padding: 8px 5px;
    }    

    .form-button {
        margin-top: 8px;
        display   : inline-block;
    }
}