.header-controls {
    padding: 5px;
    user-select: none;
  }

  .header-controls label {
    vertical-align: middle;
  }

  .header-controls input[type='text'] {
    margin-right: 5px;
  }

  .msi-common-header-extra-search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .demo-search-dropdown {
    padding: 20px;
    color: var(--text-primary);
    background: var(--background-level-3);
    border: 1px var(--stroke-level-1) solid;
    border-radius: 2px;
    box-shadow: var(--shadow-level-2);
    transition: background-color 100ms,
    background 100ms,
    color 100ms,
    opacity 100ms;
  }

.tab-item {
  display: flex;
}
::ng-deep .msi-tabs-wrapper > .msi-tab-labels{ 
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
  border-radius: 2px 2px 0px 0px;
}
.msi-tabs-wrapper  .tab-label{
  padding-left: 8px ;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}
.media-play-icon{
  height: 22px;
  width:22px;
}
.incident-icon{
  height:22px;
  width: 22px;
}
.dashboard-icon{
  height:20px;
  width: 20px;
}