<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>


<div class="form-wrapper shareIncident" *ngIf="popupParam.mode==='share'">
    <div class="shareIncident">
        <form [formGroup]="shareIncidentForm">
            <div class="fields">
                <div class="owner">
                    <label for="Owner" class="msi-label">
                        Owner
                    </label>
                    <app-input-control [controlName]="'owner'" [formResetting]="formResetting">
                        <input type="text" class="msi-input" autocomplete="owner" formControlName="owner"
                            [class.error]="!formResetting && formControls.owner.invalid">
                    </app-input-control>
                </div>
                <div class="restrictions">
                    <msi-toggle class="restriction-toggle" formControlName="restriction" text="Restriction">
                    </msi-toggle>
                </div>
                <div class="shared">
                    <label for="shared-label" class="msi-label">
                        Shared
                    </label>
                    <div class="sharedUsers">
                        <ng-container *ngFor="let share of sharedUsers">
                            <button class="msi-btn msi-btn-compact">
                                <msi-icon name="ic_contacts_people"></msi-icon>{{share.name}}
                                &nbsp;<msi-icon name="ic_remove" class="ic-remove"
                                    (click)="deleteSharedUser(share.name)">
                                </msi-icon>
                            </button>
                        </ng-container>
                    </div>
                    <div class="add">
                        <app-input-control [controlName]="'shared'" [formResetting]="formResetting">
                            <input type="text" class="msi-input" [msiAutocomplete]="ownerAutoComplete"
                                formControlName="shared" [class.error]="!formResetting && formControls.shared.invalid"
                                #shared [activateNumber]="1">
                            <button class="msi-btn msi-btn-compact" id="add-button"
                                (click)="addSharedUsers(shared.value)">
                                <msi-icon name="ic_add"></msi-icon>
                            </button>
                            <msi-autocomplete #ownerAutoComplete>
                                <msi-autocomplete-option *ngFor="let option of filteredOwners | async"
                                    [value]="option.name">
                                    <span
                                        [innerHTML]="option.name | highlightSearchTerm: this.shareIncidentForm.controls['shared'].value"></span>
                                </msi-autocomplete-option>
                            </msi-autocomplete>

                        </app-input-control>
                    </div>
                </div>
            </div>
            <br>
            <div class="buttons">
                <button type="submit" class="msi-btn form-submit" (click)="submit()">Confirm changes</button>
                <button type="reset" class="msi-btn msi-btn-action" (click)="cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>

</html>