<app-header></app-header>
<div class="search-result-wrapper">
    <div class="filter-panel">
        <msi-tab-group>
            <msi-tab label="Filters">
                <div class="filters-wrapper">
                    <app-incident-filter (searchIncidents)="searchIncidents($event)"></app-incident-filter>
                </div>
            </msi-tab>
            <msi-tab label="Saved Searches">
            </msi-tab>
        </msi-tab-group>
    </div>    
    <div class="results-panel">
        <app-incident-search-result *ngIf="filterCriteria !== null" [filterCriteria]="filterCriteria"></app-incident-search-result>
    </div>    
</div>