.seach-div-wrapper{
    display: flex;
    align-items: center;
    height: 42px;
    width: -webkit-fill-available;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.2);
    border-radius: 2px 2px 0px 0px;
}
.search-icon{
    padding-top: 13px;
    padding-right: 5px;
    padding-bottom: 13px;
    padding-left: 13px;
    width: 20px;
    height:20px;
 }
 .search-label{
     font-family: 'Public Sans';
     font-style: normal;
     font-weight: 700;
     font-size: 14px;
     line-height: 22px;
 }
.incident-search-result-wrapper {
    display: flex;    
}

.filter-panel {
    flex: 1;
    max-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    min-width: 272px;
    height: calc(100vh - 104px);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 6px;
    margin-left: 6px;
}  
.incident-tab-group{
    width: 100%;
}
.incident-savedFilters-wrapper{
    height: calc(100vh - 211px);
    overflow: auto;
}
.results-panel {
    min-width: 75%;
}
::ng-deep .incident-tab-group > .msi-tab-labels{ 
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
    border-radius: 2px 2px 0px 0px;
    height : 42px
}
::ng-deep .incident-tab-group .msi-tab-content{
    padding-top: 0px;
}