<msi-sidebar role="navigation" [expandable]="false" class="sidebar-wrapper">
    <msi-sidebar-top>
      <msi-sidebar-item [tooltipDisabled]="true" icon="ic_information" class="ic-information"><msi-icon></msi-icon></msi-sidebar-item>
      <msi-sidebar-item [tooltipDisabled]="true" icon="ic_media_play" (click)="onPlayMedia()" class="ic-media-play"></msi-sidebar-item>
      <msi-sidebar-item [tooltipDisabled]="true" icon="ic_mapping" class="ic-mapping"></msi-sidebar-item>
      <msi-sidebar-item [tooltipDisabled]="true" icon="ic_conversation" class="ic-conversation"></msi-sidebar-item>
      <msi-sidebar-item [tooltipDisabled]="true" icon="ic_redaction_project" class="ic-redaction-project"></msi-sidebar-item>
      <msi-sidebar-item [tooltipDisabled]="true" icon="ic_bookmark" class="ic-bookmark" ></msi-sidebar-item>
      <msi-sidebar-item [tooltipDisabled]="true" icon="ic_copy" class="ic-copy"></msi-sidebar-item>
    </msi-sidebar-top> 
</msi-sidebar>
