<div *ngIf="popupParam === undefined else deleteBlock">
    <div class="incident-search-result-wrapper">
        <div>
            <div class="list-view-label-wrapper">
                <msi-icon name="ic_data_table" class="ic-data-table"></msi-icon>
                <p class="list-view-label">List View</p>
            </div>
        </div>
        <table *ngIf="results.length > 0" class="msiDatatable" msi-data-table #table [rows]="results"
            style="width: 100%; min-width: 365px; flex: 1 1; display: block;height:calc(100vh - 180px);"
            [condensed]="false" [pinning]="false" [selection]="true" [virtualScroll]="true">
            <ng-container msiColDef="text" [width]="100" [fixedWidth]="true">
                <ng-container *msiHeaderCellDef>
                    <div position="left">Status</div>
                </ng-container>
                <ng-container *msiCellDef="let row">Ready</ng-container>
            </ng-container>
            <ng-container msiColDef="text" [width]="100" [fixedWidth]="true">
                <ng-container *msiHeaderCellDef>
                    <div position="left">Job</div>
                </ng-container>
                <ng-container *msiCellDef="let row">{{ row.signature }}</ng-container>
            </ng-container>
            <ng-container msiColDef="text" [width]="150" [fixedWidth]="true">
                <ng-container *msiHeaderCellDef>
                    <div position="left">Created</div>
                </ng-container>
                <ng-container *msiCellDef="let row">{{ row.creationTime | date:'dd/MM/YYYY HH:mm' }}</ng-container>
            </ng-container>
            <ng-container msiColDef="text" [width]="150" [fixedWidth]="true">
                <ng-container *msiHeaderCellDef>
                    <div position="left">Profile name</div>
                </ng-container>
                <ng-container *msiCellDef="let row">{{ row.exportProfile.name}}</ng-container>
            </ng-container>
            <ng-container msiColDef="text" [width]="200" [fixedWidth]="true">
                <ng-container *msiHeaderCellDef>
                    <div position="left">Description</div>
                </ng-container>
                <ng-container *msiCellDef="let row">{{ row.description }}</ng-container>
            </ng-container>
            <ng-container msiColDef="text" [width]="50" [fixedWidth]="true" [sortable]="false">
                <ng-container *msiCellDef="let row">
                    <msi-icon (click)="manageExport('download',row)" name="ic_download" class="ic_download"
                        title="Download Export"></msi-icon>
                </ng-container>
            </ng-container>
            <ng-container msiColDef="text" [width]="50" [fixedWidth]="true" [sortable]="false">
                <ng-container *msiCellDef="let row">
                    <msi-icon (click)="manageExport('delete',row)" name="ic_remove" class="ic_remove"
                        title="Delete Export">
                    </msi-icon>
                </ng-container>
            </ng-container>
            <ng-container msiColDef="text" [width]="50" [fixedWidth]="true" [sortable]="false">
                <ng-container *msiCellDef="let row">
                    <msi-icon (click)="manageExport('view', row)" name="ic_visibility_on" class="ic_visibility_on"
                        title="View Export"></msi-icon>
                </ng-container>
            </ng-container>
        </table>
    </div>
</div>
<ng-template #deleteBlock>
    <app-confirmation-dialog [type]="'export'" [message]="'Are you sure that you want to delete this export?'"
        [id]="popupParam.id"></app-confirmation-dialog>
</ng-template>