.home-wrapper{
    background: transparent;
    height: 100%;
    margin: 0;
    padding: 0;
}
button{
    background: rgb(1, 29, 51);
    border-color: transparent;
    color: #fff;
    cursor: pointer;
}
.media-search-result-wrapper{
    margin-top: 0px;
    display: flex;
}
.media-search-component{
    flex:1;
    min-width: 25%;
}
.media-result-component{
    max-width: 75%;
}