.field-wrapper{
    margin: 12px 24px;
}
.form-input{
    width : -webkit-fill-available;
}
.app-date-picker{
    width : -webkit-fill-available; 
}
::ng-deep .multiselect-dropdown .dropdown-btn{
    width: -webkit-fill-available !important;
}
.btn-inner-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    padding: 12px 24px;
}