.incident-filters-wrapper{
    height:auto;
}
.all-incident-filter-wrapper{
    height:calc(100vh - 230px);
    overflow: auto;
}
.field-wrapper{
    margin: 6px 12px;
    width: auto;
}
.filter-label-first{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
}
.form-input{
    width : -webkit-fill-available;
}
.app-date-picker{
    width : -webkit-fill-available; 
}
::ng-deep .multiselect-dropdown .dropdown-btn{
    width: -webkit-fill-available !important;
}
.checkbox-group{
    position: relative;
}
.checkbox-position{
    position: relative;
}
::ng-deep .owner-input-wrapper > .msi-input-group{
    width: -webkit-fill-available;
}
.owner-input{
    width: inherit !important;
}
.ic_contacts_people{
    width: 22px !important;
    height: 21px !important;
}
.btn-inner-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    padding: 6px 24px;
}