@msi:registry=https://msi-cie.pkgs.visualstudio.com/_packaging/common-ui/npm/registry/
@msi:always-auth=true
; begin auth token
//msi-cie.pkgs.visualstudio.com/_packaging/common-ui/npm/registry/:username=msi-cie
//msi-cie.pkgs.visualstudio.com/_packaging/common-ui/npm/registry/:_password=cDZsZjVpNmpoeXJoeGVweXVyNGpjYmpxNGpvc3lobnlnYWlwM3BoZ2NoamlhemE0dWsyYQ==
//msi-cie.pkgs.visualstudio.com/_packaging/common-ui/npm/registry/:email=npm requires email to be set but doesn't use the value
//msi-cie.pkgs.visualstudio.com/_packaging/common-ui/npm/:username=msi-cie
//msi-cie.pkgs.visualstudio.com/_packaging/common-ui/npm/:_password=cDZsZjVpNmpoeXJoeGVweXVyNGpjYmpxNGpvc3lobnlnYWlwM3BoZ2NoamlhemE0dWsyYQ==
//msi-cie.pkgs.visualstudio.com/_packaging/common-ui/npm/:email=npm requires email to be set but doesn't use the value
; end auth token