.date-input{
    display: block;
    width: inherit;
    height :34px
}
::ng-deep .ngb-dp-week.ngb-dp-weekdays{
    background: var(--background-level-3);
}
.input-wrapper{
    width:100%
}
::ng-deep .msi-dropdown.msi-datepicker-control-dropdown{
    padding: 0px;
}