.deleteConfirmation {

    .actions {
        text-align: right;

        .msi-link {
            text-decoration: none;
            font-weight    : bold;
        }

        .delete-btn {
            display: inline;
        }
    }
}