.incidents {
    .msi-card {
        max-width: 100%;
    }

    input,
    .msi-select, .ng-multiselect {
        width: 20%;
    }

    .form-button {
        margin-top: 8px;
        display   : inline-block;
    }
}