<div class="incidents">
    <form [formGroup]="incidentForm" (ngSubmit)="onSubmit()" *ngIf="incidentForm !== null">
        <div *ngFor="let field of customFields">
            <div
                *ngIf="field.isTimestamp && !((popupParam.mode === 'create' && field.fieldType === 'CREATION_TIME') || (popupParam.mode === 'create' && field.fieldType === 'UPDATE_TIME'))">
                <div class="form-group">
                    <label class="msi-label" for="{{ field.name }}">
                        {{ field.displayName }}
                    </label>
                    <app-input-control [controlName]="field.name" [formResetting]="formResetting"
                        [LabelText]="field.displayName">
                        <msi-date-time-picker-control class="msi-date-time-picker" formControlName="{{ field.name }}"
                            [dropdown]="true" [defaultValue]="calendarDateTimeDefaultValue" [dateFormat]='"DD/MM/YYYY"'
                            [timeFormat]="'HH:mm'" [dateTimeMask]='"00/00/0000 00:00"'
                            [disabled]="(field.fieldType === 'USER_DEFINED' && popupParam.mode !== 'view') ? false : true"
                            (dateChanged)="onCalendarDateChanged($event, field.id)">
                        </msi-date-time-picker-control>
                    </app-input-control>
                </div>
            </div>
            <div
                *ngIf="(field.isText || field.isUrl) && !((popupParam.mode === 'create' && field.fieldType === 'OWNER') || (popupParam.mode === 'create' && field.fieldType === 'SIGNATURE'))">
                <div class="form-group">
                    <label class="msi-label" for="{{ field.name }}">
                        {{ field.displayName }}
                    </label>
                    <div *ngIf="(field.numTextLines === 0 || field.numTextLines === 1)">
                        <app-input-control [controlName]="field.name" [formResetting]="formResetting"
                            [LabelText]="field.displayName">
                            <input class="msi-input" type="text" autocomplete="{{ field.name }}"
                                formControlName="{{ field.name }}" placeholder="Enter {{ field.displayName}}"
                                [readonly]="(field.fieldType === 'USER_DEFINED' && popupParam.mode !== 'view') ? false : true"
                                [class.error]="!formResetting && formControls[field.name].invalid">
                        </app-input-control>
                    </div>
                    <div *ngIf="field.numTextLines > 1">
                        <app-input-control [controlName]="field.name" [formResetting]="formResetting"
                            [LabelText]="field.displayName">
                            <textarea class="msi-textarea" formControlName="{{field.name}}"
                                rows="{{field.numTextLines}}" placeholder="Enter {{ field.displayName}}"
                                [readonly]="(field.fieldType === 'USER_DEFINED' && popupParam.mode !== 'view') ? false : true"
                                [class.error]="!formResetting && formControls[field.name].invalid"></textarea>
                        </app-input-control>
                    </div>
                </div>
            </div>
            <div *ngIf="field.isBool">
                <div class="form-group">
                    <label class="msi-label" for="{{ field.name }}">
                        {{ field.displayName }}
                    </label>
                    <app-input-control [controlName]="field.name" [formResetting]="formResetting"
                        [LabelText]="field.displayName">
                        <msi-checkbox formControlName="{{ field.name }}"
                            [disabled]="(field.fieldType === 'USER_DEFINED' && popupParam.mode !== 'view') ? false : true"
                            [class.error]="!formResetting && formControls[field.name].invalid"></msi-checkbox>
                    </app-input-control>
                </div>
            </div>
            <div *ngIf="field.isEnumeration">
                <div *ngIf="field.displayName.includes(',radio,')" class="form-group">
                    <label class="msi-label" for="{{ field.name }}">
                        {{field.displayName.split(',radio,').slice(0, -1)}}
                    </label>
                    <app-input-control [controlName]="field.name" [formResetting]="formResetting"
                        [LabelText]="field.displayName">
                        <msi-radio-group class="radio-group" [inline]="true" formControlName="{{field.name}}"
                            [class.error]="!formResetting && formControls[field.name].invalid">
                            <msi-radio-button class="msi-radio-button" ngDefaultControl
                                [disabled]="(field.fieldType === 'USER_DEFINED' && popupParam.mode !== 'view') ? false : true"
                                *ngFor="let option of field.validValues; let i = index" [value]="option">
                                {{field.validValueLabels[i]}}</msi-radio-button>
                        </msi-radio-group>
                    </app-input-control>
                </div>
                <div *ngIf="field.displayName.includes(',checkbox,')" class="form-group">
                    <label class="msi-label" for="{{ field.name }}">
                        {{field.displayName.split(',checkbox,').slice(0, -1)}}
                    </label>
                    <app-input-control [controlName]="field.name" [formResetting]="formResetting"
                        [LabelText]="field.displayName">
                        <msi-checkbox-group class="checkbox-group" formControlName="{{field.name}}" ngDefaultControl>
                            <msi-checkbox class="{{field.name}}"
                                [disabled]="(field.fieldType === 'USER_DEFINED' && popupParam.mode !== 'view') ? false : true"
                                (change)="onCheckboxChange( $event, option, field.id)"
                                *ngFor="let option of field.validValues; let i = index" [value]="field.validValues[i]"
                                [checked]="(field.validValues[i] === selectedCheckboxItems[i]) ? true : false">
                                {{field.validValueLabels[i]}}</msi-checkbox>
                        </msi-checkbox-group>
                    </app-input-control>

                </div>
                <div *ngIf="field.displayName.includes(',multiselect,')" class="form-group ng-multiselect">
                    <label class="msi-label" for="{{ field.name }}">
                        {{field.displayName.split(',multiselect,').slice(0, -1)}}
                    </label>
                    <app-input-control [controlName]="field.name" [formResetting]="formResetting"
                        [LabelText]="field.displayName">
                        <ng-multiselect-dropdown [settings]="dropdownSettings" [placeholder]="'Select'"
                            formControlName="{{field.name}}" [data]="field.validValues" [(ngModel)]="selectedItems"
                            (onFilterChange)="onMultiSelectChanged($event, field.id, 0)"
                            (onDropDownClose)="onMultiSelectChanged($event, field.id, 0)"
                            (onSelect)="onMultiSelectChanged($event, field.id, 1)"
                            (onSelectAll)="onMultiSelectChanged($event, field.id, 1)"
                            (onDeSelect)="onMultiSelectChanged($event, field.id, 0)"
                            (onDeSelectAll)="onMultiSelectChanged($event, field.id, 0)"
                            [disabled]="(field.fieldType === 'USER_DEFINED' && popupParam.mode !== 'view') ? false : true"
                            [class.error]="!formResetting && formControls[field.name].invalid">
                        </ng-multiselect-dropdown>
                    </app-input-control>
                </div>
                <div *ngIf="!(field.displayName.includes(',radio,') || field.displayName.includes(',checkbox,') || field.displayName.includes(',multiselect,'))"
                    class="form-group">
                    <label class="msi-label" for="{{ field.name }}">
                        {{ field.displayName }}
                    </label>
                    <app-input-control [controlName]="field.name" [formResetting]="formResetting"
                        [LabelText]="field.displayName">
                        <msi-select formControlName="{{field.name}}" placeholder="Select Value"
                            [disabled]="(field.fieldType === 'USER_DEFINED' && popupParam.mode !== 'view') ? false : true">
                            <msi-select-option *ngFor="let option of field.validValues; let i = index" [value]="option">
                                {{field.validValueLabels[i]}}</msi-select-option>
                        </msi-select>
                    </app-input-control>
                </div>
            </div>
        </div>
        <div *ngIf="popupParam.mode !== 'view'" class="actions">
            <a href="javascript:void(0)" class="msi-link" (click)="cancel()" title="Cancel">Cancel</a>
            &nbsp;
            <button type="submit" class="msi-btn form-button" title="Submit">Submit</button>
        </div>
        <div *ngIf="popupParam.mode === 'view'" class="actions">
            <button type="button" (click)="manageIncident('edit',popupParam.id)" class="msi-btn form-button"
                title="Edit">Edit</button>
        </div>
    </form>
</div>
<br />
<div *ngIf="clips.length > 0">
    <h6>Incident clips</h6>
    <table class="msiDatatable" msi-data-table #table [rows]="clips"
        style="width: 100%; min-width: 365px; flex: 1 1; display: block; min-height:200px;" [condensed]="false"
        [pinning]="false" [selection]="true" [virtualScroll]="true">
        <ng-container msiColDef="text" [width]="80" [fixedWidth]="true" [sortable]="false">
            <ng-container *msiHeaderCellDef>
                <div position="left">Image</div>
            </ng-container>
            <ng-container *msiCellDef="let row">
                <span *ngIf="row.thumbnail !== undefined"> 
                    <img src="{{row.thumbnail.uri}}" width="50" height="50" />
                </span>
            </ng-container>
        </ng-container>
        <ng-container msiColDef="text" [width]="150" [fixedWidth]="true">
            <ng-container *msiHeaderCellDef>
                <div position="left">Date</div>
            </ng-container>
            <ng-container *msiCellDef="let row">{{row.startTime | date:'dd/MM/YYYY HH:mm' }}</ng-container>
        </ng-container>
        <ng-container msiColDef="text" [width]="100" [fixedWidth]="true">
            <ng-container *msiHeaderCellDef>
                <div position="left">Operator</div>
            </ng-container>
            <ng-container *msiCellDef="let row">{{row.operator.name}}</ng-container>
        </ng-container>
        <ng-container msiColDef="text" [width]="100" [fixedWidth]="true">
            <ng-container *msiHeaderCellDef>
                <div position="left">Source</div>
            </ng-container>
            <ng-container *msiCellDef="let row">{{row.deviceName}}</ng-container>
        </ng-container>
        <ng-container msiColDef="text" [width]="100" [fixedWidth]="true">
            <ng-container *msiHeaderCellDef>
                <div position="left">Duration</div>
            </ng-container>
            <ng-container *msiCellDef="let row">{{ formatDuration(row.visibleDurationSeconds) }}</ng-container>
        </ng-container>
    </table>
</div>