.search-component-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 312px;
    height: 882px;
    border:  1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 12px;
}
.search-wrapper{
    width: 310px ;
}
.search-input{
    width: 310px !important;
}
.filters-wrapper{
    height: 797px;
    overflow-x: hidden;
}